<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grace.train12306.biz.ticketservice.dao.mapper.SeatMapper">

    <select id="listSeatRemainingTicket" parameterType="com.grace.train12306.biz.ticketservice.dao.entity.SeatDO"
            resultType="Integer">
        select count(*) as count
        from t_seat
        where train_id = #{seatDO.trainId}
        and start_station = #{seatDO.startStation}
        and end_station = #{seatDO.endStation}
        and seat_status = '0'
        and carriage_number in
        <foreach collection="trainCarriageList" item="carriage" open="(" separator="," close=")">
            #{carriage}
        </foreach>
        group by carriage_number
    </select>

    <select id="listSeatTypeCount" resultType="com.grace.train12306.biz.ticketservice.dto.domain.SeatTypeCountDTO">
        select seat_type as seatType, count(*) as seatCount
        from t_seat
        where train_id = #{trainId}
        and start_station = #{startStation}
        and end_station = #{endStation}
        and seat_status = '0'
        and seat_type in
        <foreach collection="seatTypes" item="seatType" open="(" separator="," close=")">
            #{seatType}
        </foreach>
        group by seat_type
        having seatCount > 0
    </select>
</mapper>